:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  min-height: 100%;
}

.game-tile {
  background-color: grey;
  height: 1rem;
  width: 1rem;
  color: white;
}
